<table border="0" cellpadding="0" cellspacing="0" bgcolor="#333333" width="970" >
  <tbody>

	<%= render :partial => "mails_header"%>
	<%= render :partial => 'mail', :object => @mail %>
  </tbody>
	
</table>
<p>
<%= link_to 'back to list of mails', mails_path %>
</p>
<br />


